@import "../../FontSize";

.profilePage {
	.btnEdit {
		position: absolute;
		top: size(30);
		right: size(30);
	}
	svg {
		width: size(15);
		height: size(15);
	}
	h5 {
		& + div {
			& > div {
				&:not(:last-child) {
					border-bottom: size(1) solid #ccc;
				}
			}
		}
	}
}
